<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>
<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
<div class="row column">
<br>
<img class="thumbnail" src="http://2.bp.blogspot.com/-0kpTZAyJu0Y/VUGNSv4Br1I/AAAAAAAAR0A/6fvnSjuDat4/s1600/maquillaje.jpg">
<h5>Alejandra Frias, Juan Prieto y Sara Moreno</h5>
<p>Estamos encantados de presentaros nuestra nueva Web. Toda la información sobre maquillaje y trucos en un único sitio. ¡Os invitamos a descubrir con nosotros el maravilloso mundo del maquillaje!</p>
</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Mike Mikerson</span>
</div>
</div>
<div class="callout primary">
<div class="row column">
<h1>Bienvenido a Siempre Maquillaje</h1>
<p class="lead">¡Encuentra todo lo que necesitas saber sobre maquillaje!</p>
</div>
</div>
<div class="row small-up-2 medium-up-3 large-up-4">
<div class="column">
<a href="http://localhost:3000/usuarios"><img class="thumbnail" src="http://imdoc.es/content/1/5/9/91594/carre-maquillaje.jpg">></a>
<h5>Pincha en la foto</h5>
</div>
<div class="column">
<a href"http://localhost:3000/usuarios"><img class="thumbnail" src="http://imdoc.es/content/2/7/2/92724/Maquillaje-para-pieles-negras-y-mestizas.jpg"></a>
<h5>Chicas de Color</h5>
</div>
<div class="column"
<img class="thumbnail" src="http://t2.uccdn.com/images/5/2/8/img_18825_ins_3668832_orig.jpg">>
<h5>Mejillas</h5>
</div>
<div class="column">
<img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/736x/7a/8a/4d/7a8a4daf0be2baaf327158c435e0cc0a.jpg">>
<h5>Ojos</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://www.paraserbella.com/wp-content/uploads/2016/01/7b85c66e141823be_Emma-Watson.jpg">>
<h5>Emma Watson</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://maquillajedefantasia.com/wp-content/uploads/2013/04/como-maquillarse-correctamente.jpg">>
<h5>Brochas</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://m1.paperblog.com/i/168/1684448/tendencias-primaveraverano-2013-maquillaje-un-L-93e9sk.jpeg">>
<h5>Uñas</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://1.bp.blogspot.com/-B6J1tDIFfPw/UqCd5kxxkmI/AAAAAAAAATU/btwn2ykyItw/s1600/Cara-2.png">>
<h5>Cara Delevigne</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://miwedia.com/wp-content/uploads/2015/07/CORRRECTOR.jpg">>
<h5>Brochas</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://makeupinsiders.com/wp-content/uploads/2015/10/que-llevar-de-viaje-maquillaje-cosmeticos-avion-5.jpg">>
<h5>Productos de Moda</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://sucucho.com/ve/img/blog/pub_images/post/Sucucho.com_9a1969fe6660b07ac5b9b48f5f834a85wBp6F.jpg">>
<h5>Maquillaje Profesional</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://mujeres.es/wp-content/uploads/2014/03/maquillaje-chanel-jardin-de-camelias-primavera-2014-5.jpg">>
<h5>Pintalabios</h5>
</div>
</div>
<hr>
<div class="row">
<div class="medium-6 columns">
<h3>Contact Me</h3>
<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
<ul class="menu">
<li><a href="#">Dribbble</a></li>
<li><a href="#">Facebook</a></li>
<li><a href="#">Yo</a></li>
</ul>
</div>
<div class="medium-6 columns">
<label>Name
<input type="text" placeholder="Name">
</label>
<label>Email
<input type="text" placeholder="Email">
</label>
<label>
Message
<textarea placeholder="holla at a designerd"></textarea>
</label>
<input type="submit" class="button expanded" value="Submit">
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
